@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@100&display=swap');

.container {
        width: 70%;
        margin: auto;
        text-align: center;
    }
  .dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
    }
  body {
        background-color: rgb(39, 34, 34);
        margin: 0;
    }
  h1 {
        margin: 30px;
        font-family: 'Roboto Mono', monospace; 
        text-shadow: 5px 0 #232931;
        font-size: 4.5rem;
        color: white;
        text-align: center;
    }
  p {
        font-size: 2rem;
        color: white;
        font-family: 'Roboto Mono', monospace;
    }
  img {
        width: 100%;
    }
  .bottom {
        padding-top: 30px;
    }
  .buttons {
        background: black;
        font-family: 'Roboto Mono', monospace;
        border-radius: 7px;
        color: #ffff;
        font-size: 30px;
        padding: 16px 25px 16px 25px;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px red;
        transition: .3s ease box-shadow;
    }
   .buttons:hover {
    box-shadow: 0px 0px 30px 0px red;
    }


/*BREATHING ANIMATION*/

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}